.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 20rem;
  z-index: 10;
  background-color: white;
  box-shadow: 2px 2px 50px #cdcccc;
  overflow: scroll;

  // transition and transform
  transform: translateX(-100%);
  transition: all 0.5s ease;
  opacity: 0;

  &--open {
    transform: translateX(0%);
    opacity: 1;
  }

  &__heading {
    margin: 1rem 2rem;
    .close {
      display: none;
    }
  }
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
}

@media (max-width: 599px) {
  .sidebar {
    width: 100%;

    &__heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .close {
        display: inline;
        cursor: pointer;
        transition: all 1s ease;

        &:hover {
          color: #bd1c1c;
          transform: rotate(90deg);
        }
      }
    }
  }
}
