.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 20rem;
  z-index: 10;
  background-color: white;
  box-shadow: 2px 2px 50px #cdcccc;
  overflow: scroll;

  // transition and transform
  transform: translateX(-100%);
  transition: all 0.5s ease;
  opacity: 0;

  h2 {
    margin: 1rem 2rem;
  }

  &--open {
    transform: translateX(0%);
    opacity: 1;
  }
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
}
