.card {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;

  img {
    width: 30%;
  }

  .song-info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
      font-size: 1rem;
    }

    h4 {
      font-size: 0.8rem;
    }
  }

  &:hover {
    background-color: #f2f5ff;
  }
}

.active {
  background-color: #d5dcff;
}
